body {
    margin: 0;
}

.people {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    width: 890px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
}

.photo {
    position: relative;
}

.photo img {
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

.rank {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background-color: #fff;
    position: absolute;
    top: 82px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-size: 16px;
    line-height: 18px;
    color: #8b0000;
}

.details {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.name {
    font-family: Arial;
    font-size: 20px;
    line-height: 23px;
    color: #2f4f4f;
    display: block;
}

.extra {
    display: none;
    font-family: Arial;
    font-size: 18px;
    line-height: 21px;
    color: #000;
}

.extra .sport::after {
    content: ",";
}

.extra .pay::before {
    content: "$";
}

.extra .pay::after {
    content: "M";
}

.person:hover {
    padding: 10px;
    background: #eee;
    z-index: 2;
}

.person:hover .extra{
    display: block;
}

@keyframes enlarge {
    from {

    }

    to {

    }
}

@media (max-width: 750px) {
    .people{
        grid-template-columns: repeat(2, 200px);
        width: 430px;
        margin-bottom: 155px;
    }
}